a:link {
    text-decoration: none;
    color: #335234;
}

a:visited{
    text-decoration: none;
    color: #335234;
}

a:active{
    text-decoration: none;
    color: #335234;
}

a:hover {
    color: #d07ca9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-align: center;
}

/* Below is the css for the checkerboard */
.main-checkerboard {
    display: flex;
    width: 576px;
    border: solid;
}

.square-colorA {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.5rem;
    background-color: white;
}

.square-colorB {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.5rem;
    background-color: blue;
}

/* Below is the css for the american flag */

table {
    margin-top: 2rem;
    width: auto;
    border-collapse: collapse;
}

td {
    padding: .5rem;
    border: none;

}

.red-row {

    background-color: #b22133;
    color: #b22133;
    border: 0px;
}

.white-row {
    background-color: white;
    color: white;
}

.star {
    background-image: url(/images/star.png);
    background-color: #3d3b6e;
    background-size: 30px;
    background-repeat: no-repeat;
    color: none;

}

.blue {
    background-color: #3d3b6e;
    color: #3d3b6e;
}

/* The css for the grid portion of the assignment */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.grid-container div {
    height: 35rem;
    background-color: white;
    
}
.grid-item {
    border: solid #c1dfa5 3px; 
}

.grid-item img {
    height: 12rem;
    margin-top: 2rem;
}

.grid-item h1 {
    font-size: 1.4rem;
}

.grid-item h2 {
    font-size: 1.2rem;
    color: #335234;

}
.grid-item p {
    padding-left: 3rem;
    padding-right: 3rem;
    color: #335234;
}

.header {
    margin-top: 3rem;
}